# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Drive Type 3D.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Documents\UnityProjects\Drive Type 3D\.idea\.idea.Drive Type 3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
